# Data

#### Previous venues categories

In [7]:
import pandas as pd
Toronto_Dict_csv = 'Toronto Venues.csv'   
toronto_venues = pd.read_csv(Toronto_Dict_csv)    # read Toronto Postcode and geospatial data
print('There are {} uniques categories.'.format(len(toronto_venues['Venue Category'].unique())))

There are 150 uniques categories.

In [8]:
# one hot encoding
toronto_onehot = pd.get_dummies(toronto_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_onehot['Neighbourhood'] = toronto_venues['Neighbourhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_onehot.columns[-1]] + list(toronto_onehot.columns[:-1])
toronto_onehot = toronto_onehot[fixed_columns]
print(toronto_onehot.shape)
toronto_onehot.head()

(468, 151)

,Neighbourhood,Accessories Store,Adult Boutique,Airport Lounge,Airport Service,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Auto Workshop,...,Thai Restaurant,Theater,Theme Restaurant,Toy / Game Store,Trail,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Wine Bar,Wine Shop,Yoga Studio
0,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"The Danforth West, Riverdale",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"The Danforth West, Riverdale",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Pick up the useful data and classify them

In [4]:
Transportation=['Airport Lounge','Bus Stop','Light Rail Station','Lounge','Trail']
Scenic_spot=['Art Gallery','Church','Concert Hall','Construction & Landscaping','Fountain','Garden','History Museum',
            'Lake','Museum','Outdoor Sculpture','Park','Performing Arts Venue','Plaza','Scenic Lookout']
Food=['American Restaurant','Asian Restaurant','BBQ Joint','Bakery','Belgian Restaurant',
      'Breakfast Spot','Bubble Tea Shop','Burger Joint','Burrito Place','CafÃ©','Candy Store','Caribbean Restaurant',
     'Coffee Shop','Colombian Restaurant','Comfort Food Restaurant','Cuban Restaurant','Dessert Shop','Diner',
     'Ethiopian Restaurant','Falafel Restaurant','Fast Food Restaurant','Food','Food & Drink Shop','Food Court','Food Truck',
     'French Restaurant','Gluten-free Restaurant','Greek Restaurant','Ice Cream Shop','Indian Restaurant','Italian Restaurant',
     'Japanese Restaurant','Korean Restaurant','Latin American Restaurant','Malay Restaurant','Mexican Restaurant',
     'Middle Eastern Restaurant','New American Restaurant','Noodle House','Pizza Place','Ramen Restaurant','Restaurant',
     'Seafood Restaurant','Steakhouse','Sushi Restaurant','Taco Place','Thai Restaurant','Theme Restaurant',
     'Vegetarian / Vegan Restaurant']
Hotel=['Hostel','Hotel','Pub']
Shop=['Adult Boutique','Clothing Store','Costume Shop','Fish & Chips Shop','Grocery Store','Supermarket',
     'Toy / Game Store']
Entertainment=['Bar','Beer Bar','Cocktail Bar','Dance Studio','Dive Bar','Gastropub','Gay Bar','General Entertainment',
              'Gym','Hotel Bar','Jazz Club','Movie Theater','Sports Bar','Theater','Wine Bar']

In [5]:
toronto_venues_temp=toronto_venues
tot_class=Transportation+Scenic_spot+Food+Hotel+Shop+Entertainment
toronto_venues_temp=toronto_venues_temp[toronto_venues_temp['Venue Category'].isin(tot_class)]
print(toronto_venues_temp.shape)
toronto_venues_temp.head()

(357, 7)

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,Glen Stewart Park,43.675278,-79.294647,Park
3,"The Danforth West, Riverdale",43.679557,-79.352188,Pantheon,43.677621,-79.351434,Greek Restaurant
4,"The Danforth West, Riverdale",43.679557,-79.352188,Dolce Gelato,43.677773,-79.351187,Ice Cream Shop
6,"The Danforth West, Riverdale",43.679557,-79.352188,La Diperie,43.677530,-79.352295,Ice Cream Shop

#### The unique venue categories reduced from 150 to 93

In [6]:
print('There are {} uniques categories.'.format(len(toronto_venues_temp['Venue Category'].unique())))

There are 93 uniques categories.

#### Classify the new venue categories

In [9]:
toronto_category=toronto_venues_temp

toronto_category['Venue Category'].replace(Food,'Food',inplace=True)
toronto_category['Venue Category'].replace(Transportation,'Transportation',inplace=True)
toronto_category['Venue Category'].replace(Scenic_spot,'Scenic_spot',inplace=True)
toronto_category['Venue Category'].replace(Entertainment,'Entertainment',inplace=True)
toronto_category['Venue Category'].replace(Shop,'Shop',inplace=True)
toronto_category['Venue Category'].replace(Hotel,'Hotel',inplace=True)
print(toronto_category.shape)
toronto_category.head()

(357, 7)

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Transportation
1,The Beaches,43.676357,-79.293031,Glen Stewart Park,43.675278,-79.294647,Scenic_spot
3,"The Danforth West, Riverdale",43.679557,-79.352188,Pantheon,43.677621,-79.351434,Food
4,"The Danforth West, Riverdale",43.679557,-79.352188,Dolce Gelato,43.677773,-79.351187,Food
6,"The Danforth West, Riverdale",43.679557,-79.352188,La Diperie,43.677530,-79.352295,Food

In [10]:
# one hot encoding
toronto_category_onehot = pd.get_dummies(toronto_category[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
toronto_category_onehot['Neighbourhood'] = toronto_category['Neighbourhood'] 

# move neighborhood column to the first column
fixed_columns = [toronto_category_onehot.columns[-1]] + list(toronto_category_onehot.columns[:-1])
toronto_category_onehot = toronto_category_onehot[fixed_columns]
print(toronto_category_onehot.shape)
toronto_category_onehot.head()

(357, 7)

,Neighbourhood,Entertainment,Food,Hotel,Scenic_spot,Shop,Transportation
0,The Beaches,0,0,0,0,0,1
1,The Beaches,0,0,0,1,0,0
3,"The Danforth West, Riverdale",0,1,0,0,0,0
4,"The Danforth West, Riverdale",0,1,0,0,0,0
6,"The Danforth West, Riverdale",0,1,0,0,0,0

#### Now, the neighbourhood data is very clear and succinct for new visitor