# Part 2: Process coordinations

### Import libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import wget  # library for data download

### Load Toronto Postcode data

In [13]:
Toronto_Postcode_csv = 'Toronto Postcode.csv'   
TorontoPostCodes = pd.read_csv(Toronto_Postcode_csv)    # read Toronto Postcode
print(TorontoPostCodes.shape)
TorontoPostCodes.head()  # check postcode data

(103, 3)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Download geospatical data

In [3]:
DATA_URL = 'https://cocl.us/Geospatial_data'

out_fname = 'toronto_m.geospatial_data.csv'

wget.download(DATA_URL,out_fname)

100% [................................................................................] 2891 / 2891

'toronto_m.geospatial_data.csv'

In [11]:
geocsv_data = pd.read_csv(out_fname)
print(geocsv_data.shape)
geocsv_data.head()       # check geo data

(103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merge Toronto postcode and geospatial data

In [12]:
toronto_dict=TorontoPostCodes.join(geocsv_data)  # merge Toronto postcode and geospatial data
print(toronto_dict.shape)
toronto_dict.head()

(103, 6)

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

### Save merged data

In [10]:
toronto_dict.to_csv('Toronto Dict.csv',index=False)  #save merged data